<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="DalManagerType" value="Sway.DalMock.DalManager,Sway.DalMock"/>
        <!--<add key="DalManagerType" value="Sway.DalSQLite.DalManager,Sway.DalSQLite"/>-->
        <!--<add key="DalManagerType" value="Sway.DalEf.DalManager,Sway.DalEf" />-->
    </appSettings>
</configuration>